.settings-container {
    padding: 1rem 0;
}

.setting-item {
    border-top: 0px;
    padding-top: .75rem;
    padding-bottom: 0;
}

.settings-container:has(.setting-item-heading):not(:nth-of-type(1)) {
    border-top: 1px solid var(--background-modifier-border);
}

.setting-item-heading {
    display: flex;
    flex-direction: column;
    align-items: start;
}

.setting-item-target-label {
    font-weight: var(--font-normal);
    color: var(--text-muted);
    font-size: var(--font-ui-smaller);
    padding-top: var(--size-4-1);
    line-height: var(--line-height-tight);
}

.hidden {
    display: none;
}

.frontmatter-drawer {
    padding: 1rem;
    margin-top: .5rem;
    background-color: var(--color-base-25);
    border-radius: 4px;
}